@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pink-bg {
  0% {
    background-color: #000000
  }
  33% {
    background-color: #ffa7f3
  }
  100% {
    background-color: #ffd5eb
  }
}

.pink-bg-anim {
  animation: 2s ease-out forwards pink-bg;
}

@keyframes envelope-flap {
  0% {
    z-index: 10;
    /* transform: rotate3d(1, 0, 0, 0); */
  }
  100% {
    z-index: -10;
    /* transform: rotate3d(1, 0, 0, 180deg); */
    transform: perspective(1000px) rotateX(180deg);
  }
}

.envelope-flap-anim {
  animation: 0.5s ease-out forwards envelope-flap;
}

@keyframes card-popout {
  0% {
    z-index: 0;
    transform: translateY(0);
  }
  50% {
    z-index: 10;
    transform: translateY(-15rem);
  }
  100% {
    z-index: 10;
    transform: translateY(0);
  }
}

.card-popout {
  animation: 2s ease-in-out 0.5s forwards card-popout;
}

.slightly-open:hover {
  transform: perspective(1000px) rotateX(2deg);
}

@keyframes card-open {
  0% {
    transform: perspective(1000px) rotateX(2deg);
  }
  100% {
    transform: perspective(1000px) rotateX(170deg);
  }
}

.card-open-anim {
  animation: 1s ease-out forwards card-open;
}

@keyframes heart-pulse {
  75%, 100% {
    transform: scale(2) rotate(25deg);
    opacity: 0;
  }
}

.heart-pulse-anim {
  animation: 2s ease-out forwards heart-pulse infinite;
}

@keyframes heart-pulse-straight {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.heart-pulse-straight-anim {
  animation: 2s ease-out forwards heart-pulse-straight infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-anim {
  animation: 1s fade-in ease-out;
}